.notification_card:hover {
    background-color: transparent;
 }
 
 .scrollpanel-demo .p-scrollpanel-wrapper {
   border-left: 10px solid var(--surface-ground); /* Aligns scrollbar to the left */
   border-right: none; /* Removes right border */
   overflow: hidden !important;
 }
 
 /* ScrollBar Styling */
 .scrollpanel-demo .p-scrollpanel-bar {
   background-color: var(--primary-300);
   opacity: 1; /* Ensures the scrollbar is visible */
   transition: background-color 0.3s; /* Smooth color change on hover */
   width: 10px; /* Adjust scrollbar width */
 }
 
 /* Hover Effect for ScrollBar */
 .scrollpanel-demo .p-scrollpanel-bar:hover {
   background-color: var(--primary-400);
 }
 
 /* Ensuring ScrollPanel visibility */
 .p-scrollpanel-hidden {
   visibility: visible; /* Prevents scrollbar from being hidden */
 }