body {
  background-color: #212121;
  margin: 0;
  padding: 0;
}

.word-break-all {
  word-break: break-word;
  overflow-wrap: break-word;
}

video {
  /* Disables the popup menu on iOS/Android */
  -webkit-touch-callout: none;

  /* Prevents text/element selection highlighting */
  -webkit-user-select: none;
  user-select: none;

  /* Removes the tap highlight color on mobile */
  -webkit-tap-highlight-color: transparent;
}
.blur-image {
  filter: blur(20px);
  transform: scale(1.2);
}
.object-cover {
  object-fit: cover;
}
.object-contain {
  object-fit: contain;
}
.p-carousel-item,
.p-carousel-item-content {
  height: 14rem;
}
.p-carousel-item-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile */
@media (max-width: 768px) {
  .p-carousel-item,
  .p-carousel-item-content {
    height: 14rem;
  }
}