body{
    background-color: #212121;
    margin: 0;
    padding: 0;
}

.word-break-all{
    word-break: break-word;
    overflow-wrap: break-word;
}

video {
    /* Disables the popup menu on iOS/Android */
    -webkit-touch-callout: none;

    /* Prevents text/element selection highlighting */
    -webkit-user-select: none;
    user-select: none;

    /* Removes the tap highlight color on mobile */
    -webkit-tap-highlight-color: transparent;
}
.object-contain{
    object-fit: contain;
}